<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  </head>
  <style>
    input.ng-pristine {
      background-color: blue;
    }
    input.ng-invalid {
      color: red;
    }
  </style>
  <body>
    <form name="exampleForm">
        Required field:
      <input ng-model="required" required/><br>

        Email field:
      <input ng-model="email" type="email"/><br>

      <button ng-disabled='!exampleForm.$valid'>Submit</button>

    </form>
  </body>
</html>
