<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/blog/style.css" rel="stylesheet">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try{
        var pageTracker = _gat._getTracker("UA-24062214-4");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
    {% include content.html %}
  </body>
</html>
